@model MVC_Klas.Models.Dierenarts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dierenarts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gemeente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gemeente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialiatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialiatie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
